	<div class="hero-unit">
	  <h1><%=t 'header.heading' %></h1>
	  <p><%=t 'header.tagline_html' %></p>
	</div>
	<div class="row">
	<div class="span4">
		<h2><%=t 'usp1.title' %></h2>
		<p><%=t 'usp1.content_html' %></p>
	</div>
	<div class="span4">
		<h2><%=t 'usp2.title' %></h2>
		<p><%=t 'usp2.content_html' %></p>
	</div>
	<div class="span4">
		<h2><%=t 'usp2.title' %></h2>
		<p><%=t 'usp2.content_html' %></p>
	</div>
</div>
